* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #b2e0df;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(149, 181, 209);
    background: linear-gradient(
        150deg,
        rgba(149, 181, 209, 1) 0%,
        rgba(0, 4, 5, 1) 100%
    );
    box-sizing: border-box;
    width: 100%;
}

main {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    margin: 0 5em;
    min-height: 100vh;
}

.flip-card {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    height: 400px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.character-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow: rgb(27, 36, 46) 0px 20px 30px -10px;
}

.check-icon {
    width: 30px;
    /* background-color: rgba(208, 214, 248, 0.05); */
    height: 30px;
}
.check-icon-container {
    width: 60px;
    background-color: rgba(208, 214, 248, 0.05);
    height: 60px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.check-icon-container:hover {
    background-color: rgba(208, 214, 248, 0.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.character-image {
    filter: grayscale(50%);
}
.character-image:hover {
    filter: grayscale(0%);
}

.marked-favorite > div {
    background: url(./assets/heart.png);
    width: 50px;
    height: 50px;
    background-position: -1025px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    opacity: 0.5;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
    transform-origin: center;
}

.flip-card-front:hover {
    transform: scale(1.01);
}

.testing-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flip-card-back {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    transform: rotateY(180deg);
    padding: 1em;
}

.character-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: relative;
}

.character-details {
    text-align: left;
    padding: 0.5em;
    max-height: 100px;
    overflow-y: auto;
}

.p-minor {
    font-size: 0.8em;
    border-radius: 2px;
    border-bottom: 1.2px solid white;
    padding: 1em;
}
/* .p-minor p {
    font-size: 0.8em;
    border-radius: 2px;
    border-bottom: 1px solid white;
} */

.character-stats {
    display: flex;
    justify-content: space-between;
    padding: 0.6em;
    font-size: 0.8em;
    background: linear-gradient(
        150deg,
        rgba(124, 166, 199, 0.3) 0%,
        rgba(228, 228, 228, 0.1) 100%
    );
    border-radius: 2px;
}

.like-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.heart-bg {
    background-color: rgba(208, 214, 248, 0.05);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms ease, box-shadow 100ms ease;
}

.heart-bg:hover {
    background-color: rgba(208, 214, 248, 0.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.heart-icon {
    height: 100px;
    width: 100px;
    background: url("assets/heart.png") left center no-repeat;
    cursor: pointer;
    position: absolute;
}

.heart-icon.liked {
    animation: like-animation 0.7s steps(28) forwards;
}

@keyframes like-animation {
    to {
        background-position: right;
    }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Default: 6 columns */
.grid {
    grid-template-columns: repeat(6, 1fr);
    margin: 0 5em;
    min-height: 100vh;
}

@media (max-width: 1600px) {
    /* 5 columns at 1300px or less */
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }

    header {
        padding: 1em;
    }
}

@media (max-width: 1100px) {
    /* 4 columns at 1100px or less */
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    header {
        padding: 1em;
    }
}

@media (max-width: 800px) {
    /* 2 columns at 800px or less */
    .grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 1em;
    }

    header {
        padding: 1em;
    }
}

.check-icon-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    background-color: rgba(208, 214, 248, 0.05);
}

.check-icon-container:hover {
    background-color: rgba(208, 214, 248, 0.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.check-icon {
    width: 30px;
    height: 30px;
    color: white; /* Adjust the color if needed */
}
